<div ng-controller="StandingsCtrl">
  <table>
    <thead>
      <tr><th colspan="4">Fantasy Football League of Superb Champions Standings</th></tr>
    </thead>
    <tbody>
      <th>
        Position
      </th>
        <th>
          Team
        </th>
        <th>
          Points
        </th>
      <tr ng-repeat="team in teamsList">
        <td>{{$index + 1}}</td>
        <td>
          {{team.name}}
        </td>
        <td>
          {{team.points}}
        </td>
      </tr>
    </tbody>
  </table>
</div>